*{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f4f6f9;
}
h1{
    text-align: center;
}
.PaginaPrincipal{
    margin: 24px auto 0;
    max-width: 900px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
#Tabela{
    border-collapse: collapse;
    border: 1px solid black;
    box-sizing: border-box;
    margin-top: 24px;
    width: 100%;
}
#Tabela td, #Tabela th {
    border: 1px solid black;
    padding:4px;
}
#btn:hover{
    cursor: pointer;
}
#btn{
    width: 100%;
    padding: 8px;
    background-color: #197ecb;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 10px;
    margin: 8px 0;
}
.Grupo_Elementos{
    display:flex;
    flex-direction: column;
    width: 100%;
    margin-top: 8px;

}
.Grupo_Elementos input{
    padding: 8px;
    margin-top: 4px;
    border-radius: 10px;
    border: solid 1px gray;
}
.Informacao_Adicional{
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;
}
#Historico, #Loc, #Sobre{
    text-decoration: none;
    color: gray;
}
